<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.mapper.ShopMapper">
 	<select id="getList" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product order by pid
 	</select>
 	<select id="read" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product where pid = #{pid}
 	</select>
 	
 	<select id="getListVege" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product where pkind = 'vegetable' order by pid
 	</select>
 	<select id="getListFru" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product where pkind = 'fruit' order by pid
 	</select>
 	<select id="getListJui" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product where pkind = 'juice' order by pid
 	</select>
 	<select id="getListDri" resultType="com.spring.domain.ShopVO">
 		select * from tbl_product where pkind = 'dried' order by pid
 	</select>
 	
 	<select id="getListWithPaging" resultType="com.spring.domain.ShopVO">
 		<![CDATA[
			select pid, pname, pkind, pcontent, pprice, pimg
			from (select /*+ INDEX_DESC(tbl_product pk_product)*/
			rownum rn, pid, pname, pkind, pcontent, pprice, pimg
			from tbl_product 
			 where rownum<=#{pageNum}*#{amount}) 
			 where rn>(#{pageNum}-1)*#{amount}
		]]>
 	</select>
 	<select id="getListWithPagingVege" resultType="com.spring.domain.ShopVO">
 		<![CDATA[
			select pid, pname, pkind, pcontent, pprice, pimg
			from (select /*+ INDEX_DESC(tbl_product pk_product)*/
			rownum rn, pid, pname, pkind, pcontent, pprice, pimg
			from tbl_product 
			 where rownum<=#{pageNum}*#{amount}) 
			 where rn>(#{pageNum}-1)*#{amount} and pkind = 'vegetable'
		]]>
 	</select>
 	<select id="getListWithPagingFru" resultType="com.spring.domain.ShopVO">
 		<![CDATA[
			select pid, pname, pkind, pcontent, pprice, pimg
			from (select /*+ INDEX_DESC(tbl_product pk_product)*/
			rownum rn, pid, pname, pkind, pcontent, pprice, pimg
			from tbl_product 
			 where rownum<=#{pageNum}*#{amount}) 
			 where rn>(#{pageNum}-1)*#{amount} and pkind = 'fruit'
		]]>
 	</select>
 	<select id="getListWithPagingJui" resultType="com.spring.domain.ShopVO">
 		<![CDATA[
			select pid, pname, pkind, pcontent, pprice, pimg
			from (select /*+ INDEX_DESC(tbl_product pk_product)*/
			rownum rn, pid, pname, pkind, pcontent, pprice, pimg
			from tbl_product 
			 where rownum<=#{pageNum}*#{amount}) 
			 where rn>(#{pageNum}-1)*#{amount} and pkind = 'juice'
		]]>
 	</select>
 	<select id="getListWithPagingDri" resultType="com.spring.domain.ShopVO">
 		<![CDATA[
			select pid, pname, pkind, pcontent, pprice, pimg
			from (select /*+ INDEX_DESC(tbl_product pk_product)*/
			rownum rn, pid, pname, pkind, pcontent, pprice, pimg
			from tbl_product 
			 where rownum<=#{pageNum}*#{amount}) 
			 where rn>(#{pageNum}-1)*#{amount} and pkind = 'dried'
		]]>
 	</select>
 </mapper>