<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.WishlistMapper">
	<select id="getList" resultType="com.spring.domain.WishlistVO">
		select * from tbl_wishlist order by wno
	</select>
	<select id="read" resultType="com.spring.domain.WishlistVO">
		select * from tbl_wishlist where wno=#{wno}
	</select>
	<insert id="insert">
		insert into tbl_wishlist values(seq_wishlist.nextval,#{pid},#{pname},#{pprice},#{pcontent},#{pimg},#{pcount})
	</insert>
	<delete id="wishListdelete">
		delete from tbl_wishlist where wno=#{wno}
	</delete>
</mapper>